.home-event {
    display: flex;
    justify-content: center;

    
    .container {
        max-width: 1600px;
        min-height: 800px;
        margin-top: 20px;
        display: flex;
        margin-bottom: 100px;
        flex-direction: column;
        // box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;   
    }
}



.content {
    width: 1600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.img-event {
    width: 1600px;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;


    .main-img {
        width: 1000px;
        aspect-ratio: 16/9;
        object-fit: fill;
        box-shadow: rgba(0, 0, 0, 0.26) 0px 10px 36px 0px, rgba(0, 0, 0, 0.16) 0px 0px 0px 1px; 
    }

    .main-video {
        max-width: 1000px;
        width: 100%;
        aspect-ratio: 16/9;


    }
}

.switch-btn {
    border: 2px blue solid;
    position: absolute;
    top: 50%;
    transform: translateY(-70%);
    background-color: rgba(0, 0, 0, 0.6); 
    color: white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;


    &:hover {
        background-color: rgba(195, 195, 195, 0.6);
        color: rgb(138, 138, 138);
    }

    &.left {
        left: 100px;
    }

    &.right {
        right: 100px;
    }

    &::before {
        content: "";
        width: 100px;
        height: 100px;
        border-radius: 50%;
        position: absolute;
        font-size: 100px;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);

        display: flex;
        justify-content: center;
        align-items: center;


    }

    &.left::before {
        content: "◀";
    }

    &.right::before {
        content: "▶";
    }
}


.like-fav {
    margin-right: 750px;
    margin-top: 15px;
    width: 250px;
    height: 50px; 
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    .like-div {
        width: 70px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;


        .like {
            width: 40px;
            height: 40px;
            border: 1px rgb(166, 166, 166) solid;
            border-radius: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px; 

            .like-sign {
                width: 20px;
                height: 20px;
            }

            &:hover {
                cursor: pointer;
            }
        }
    }

    .favourite {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px rgb(166, 166, 166) solid;
        border-radius: 30px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px; 

        .fav-sign {
            width: 20px;
            height: 20px;
        }

        &:hover {
            cursor: pointer;
        }

    }

}

.main-event-name-div {
    width: 1600px;
    max-width: 1600px;
    min-height: 50px;
    max-height: 150px;
    white-space: normal;
    word-break: break-all;
    margin-bottom: 80px;

}

.main-event-name {
    font-size: 35px;
    font-weight: 600;
    display: inline-block;

    &::first-letter {
        text-transform: uppercase;
    }
}


.owner-card-div {
    margin-top: 20px;
    width: 1600px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
    
    .owner-card {
        width: 800px;
        height: 150px;
        // border: 2px black solid;
        display: flex;
        align-items: center;
        border-radius: 10px;
        box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px, rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.04) 0px 6px 6px -3px, rgba(14, 63, 126, 0.04) 0px 12px 12px -6px, rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;

        .some-text {
            width: 180px;
        }


        .owner-card-avatar {
            width: 120px;
            height: 120px;
            border-radius: 90px;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px; 
            box-sizing: content-box;
            margin-left: 20px;
            margin-right: 40px;

            .owner-avatar {
                width: 120px;
                height: 120px;
                object-fit: fill;
                border-radius: 90px;
            }
        }
    }

    span {
        font-size: 30px;
        font-weight: 600;

    }

    p {
        font-size: small;
        font-style: italic;

    }

    .to-profile-button {
        margin-left: 150px;
        width: 250px;
        height: 60px;
        border: 2px $yellow-color solid;
        padding: 10px 20px;
        border-radius: 30px;
        background-color: $yellow-color;
        transition: 0.3s;

        &:hover {
            background-color: white;
        }
    }


    .price-card {
        width: 300px;
        height: 150px;
        // border: 1px rgba(194, 194, 194, 0.662) solid;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        // box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px; 

        .price-card-text {
            display: flex;
            flex-direction: column;
            row-gap: 10px;
            align-items: center;

            .price {
                border: 2px black solid;
                padding: 10px 20px;
                border-radius: 30px;
                color: white;
                background-color: black;

            }
        }
    }
}

.event-info-div {
    width: 1600px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px, rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.04) 0px 6px 6px -3px, rgba(14, 63, 126, 0.04) 0px 12px 12px -6px, rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
    border-radius: 20px 20px 0 0;


}


.main-info {
    width: 533px;
    height: 150px;
    border: 1px rgb(192, 192, 192);
    border-style: none solid none none;
    

    .main-info-header {
        padding-left: 50px;
        display: flex;
        align-items: center;
        gap: 20px;

        img {
            height: 30px;
            width: 30px;
        }

        span {
            font-size: 20px;
            font-weight: 600;
        }
    }

    .main-info-content {
        padding-left: 100px;
        padding-top: 30px;
        display: flex;
        flex-direction: column;
        row-gap: 5px;

        span {
            font-size: 20px;
        }
    }

}

.date-and-time {
    width: 533px;
    height: 150px;
    border: 1px rgb(192, 192, 192);
    border-style: none solid none none;

    .date-and-time-header {
        padding-left: 50px;
        display: flex;
        align-items: center;
        gap: 20px;

        img {
            height: 30px;
            width: 30px;   
        }

        span {
            font-size: 20px;
            font-weight: 600;
        }
    }


    .date-and-time-content {
        padding-left: 100px;
        padding-top: 30px;
        display: flex;
        flex-direction: column;
        row-gap: 5px;

        span {
            font-size: 20px;
        }
    }
}

.location {
    width: 533px;
    height: 150px;

    .location-header {
        padding-left: 50px;
        display: flex;
        align-items: center;
        gap: 20px;

        img {
            height: 30px;
            width: 30px;
        }

        span {
            font-size: 20px;
            font-weight: 600;
        }
    }

    .location-content {
        padding-left: 100px;
            padding-top: 30px;
            display: flex;
            flex-direction: column;
            row-gap: 5px;
    
            span {
                font-size: 20px;
            }
    }

}

.descr-div {
    width: 1600px;
    min-height: 150px;
    max-height: 400px;
    margin-top: 25px;
    box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px, rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.04) 0px 6px 6px -3px, rgba(14, 63, 126, 0.04) 0px 12px 12px -6px, rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
    border-radius: 0px 0px 20px 20px;

    .descr-header {
        padding-left: 50px;
        display: flex;
        align-items: center;
        gap: 20px;

        img {
            margin-top: 20px;
            height: 30px;
            width: 30px;
        }

        span {
            margin-top: 20px;
            font-size: 20px;
            font-weight: 600;
        }
    }

    .descr-content {
        margin-left: 50px;
        margin-top: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
    }
}









///////////////////////////////////////////////////////////////

.comments {
    width: 1500px;
    min-height: 500px;
    margin-bottom: 100px;


    .comments-header-div {
        width: 1600px;
        height: 40px;
    }

    .comments-header {
        font-size: 30px;
        font-weight: bold;
    }

    .comment-avatar {
        height: 100px;
        width: 100px;
        display: flex;
        justify-content: center;
        align-items: center;

        .avatar-img {
            height: 80px;
            width: 80px;
            // border: 1px rgb(43, 43, 43) solid;
            border-radius: 45px;

        }
    }

    .comment-div {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        // justify-content: center;
    }

    .write-comment {
        min-height: 50px;
        width: 800px;

        input {
            min-height: 50px;
            width: 800px;
            border: 1px rgb(177, 177, 177) solid;
            border-radius: 15px;
            padding: 5px 10px;
        }
    }

    .send-comment {
        margin-left: 10px;
        border: 2px $yellow-color solid;
        border-radius: 35px;
        padding: 10px 20px;
        background-color: $yellow-color;
        width: 150px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.3s;

        &:hover{
            background-color: white;
            cursor: pointer;
        }

        span {
            font-size: 20px;

        };
    }



.someone-comment-div {
    display: flex;
    align-items: center;
}


    .someone-comment-avatar {
        height: 90px;
        width: 90px;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            cursor: pointer;
        }


        .someone-avatar-img {
            height: 70px;
            width: 70px;
            border: 1px rgb(174, 174, 174) solid;
            border-radius: 45px;
            box-sizing: content-box;

            .someone-avatar-img-main {
                height: 70px;
                width: 70px;
                border-radius: 45px;
            }

        }
    }

    .someone-comment-group {
        max-width: 800px;
        min-height: 50px;
        display: flex;
        flex-direction: column;
    }

    
    .someone-comment-owner {
        max-height: 20px;
        min-width: 800px;
        margin-bottom: 5px;

        span {
            font-weight: 600;
            font-size: 15px;
        }
    }

    .someone-comment {
        min-height: 30px;
        max-height: 100px;
        min-width: 800px;
        // border: 2px black solid;
        display: flex;
        align-items: center;

        span {
            font-size: 20px;
        }

    }

}


