// footer {
//     font-size: 15px;
//     padding: 10px;
//     position: fixed;
//     left: 0;
//     bottom: 0;
//     width: 100%;
//     height: 250px;
//     text-align: center;
//     background-color:rgb(0, 0, 0) ;
//     color: rgb(0, 0, 0);

//     .copyright {
//         color: white;
//         text-align: center;
//         position: fixed;
//         bottom: 0;
//         width: 100%;
//         font-weight: bold;
//     }
// }

// .footer-contacts {
//     height: 200px;
//     display: flex;
//     justify-content: center;
// }
  
// .contact {
//     width: 50px;
//     height: 50px;
//     padding: 40px;
// }


// .footer {
//     background-color: black;
//     color: #fff;
//     padding: 20px 0;
//     width: 100%;
//     display: flex;
//     justify-content: center;
//   }
//   .footer .container {
//     width: 100%;
//     max-width: 1600px;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     margin: 0 auto;
//   }
//   .footer-content {
//     display: flex;
//     justify-content: space-between;
//     width: 100%;
//     max-width: 1200px;
//   }
//   .footer-section {
//     flex: 1;
//     margin: 0 20px;
//   }
//   .footer-section .contact {
//     margin-bottom: 5px;
//   }
//   .footer-section h3 {
//     font-weight: 600;
//     margin-bottom: 15px;
//   }
//   .footer-section p,
//   .footer-section ul {
//     margin: 0;
//   }
//   .footer-section ul {
//     list-style: none;
//     padding: 0;
//   }
//   .footer-section ul li {
//     margin: 5px 0;
//   }
//   .footer-section ul li a {
//     color: #fff;
//     text-decoration: none;
//   }
//   .footer-section ul li a:hover {
//     text-decoration: underline;
//   }
//   .footer-bottom {
//     margin-top: 20px;
//     text-align: center;
//   }

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .events {
      flex: 1;
      margin-bottom: 60px;
  }
}

.footer-wrapper {
    display: flex;
    justify-content: center;
}

.footer {
    border-radius: 20px 20px 0 0;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    padding: 20px 0;
    width: 1600px;
    display: flex;
    justify-content: center;
  }
  
.footer .container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto; /* Center the footer container */
  display: flex;
  flex-direction: column;
  align-items: center;
}
  
.footer-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;

}
  
.footer-section {
  flex: 1;
  margin: 0 20px;
}

.footer-section .contact {
  margin-bottom: 5px;
}

.footer-section h3 {
  font-weight: 600;
  margin-bottom: 15px;
}

.footer-section p,
.footer-section ul {
  margin: 0;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin: 5px 0;
} 

.footer-section ul li a {
  color: #fff;
  text-decoration: none;
  
}

.footer-section ul li a:hover {
  text-decoration: underline;

  
}

.footer-bottom {
  margin-top: 30px;
  text-align: center;
}

img.logo-contact {
  margin: 5px 15px 0px 0px;
  width: 30px;
  height: 30px;
  filter: invert(1);

  &:hover {
    transition: 0.2s;
    transform: scale(1.2);
  }
}