.forgot-password-section {
    display: flex;
    justify-content: center;
    margin-top: 100px;  

    .container {
        border-radius: 50px;
        width: 500px;
        height: 400px;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
        margin-bottom: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;  
    }
}

.main-form {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center; 
}


.forgot-password-header {
    margin-top: 60px;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}

.forgot-password-form {
    margin-top: 50px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
}

.first-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    input {
        width: 300px;
        padding: 5px;
        margin: 10px 0;
        border-bottom: 1px solid #989898;
        font-size: 16px;
        outline: none;

        &:focus {
            border-bottom: 2px solid $yellow-color;
        }
    }
}

.first-form-button {
    margin-top: 50px;
    width: 300px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    .sent-button {
        width: 300px;
        font-size: 15px;
        padding: 10px 20px;
        border-radius: 10px;
        border: 1px #F2E318 solid;
        background-color: #F2E318;
        transition: 0.3s;

        &:hover {
            background-color: white;
        }
    }
}


.second-form {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.second-form-email {
    align-items: center;
    justify-content: center;
    width: 300px;
    display: flex;
    flex-direction: column;
    height: 70px;

    span {
        font-size: 20px;
    }

    .email-span {
        margin-top: 10px;

    }


}

.second-form-code {
    margin-top: 15px;
    align-items: center;
    justify-content: center;
    width: 300px;
    display: flex;
    flex-direction: column;
    height: 70px;

    span {
        font-size: 20px;
    }

    input {
        margin-top: 15px;
        border-radius: 5px;
        padding: 5px;
        border: 1px rgb(120, 120, 120) solid;
        height: 30px;
        width: 300px;
    }
}

.forgot-password-finish-form {
    margin-top: 50px;
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
}


.second-form-password {
    margin-top: 15px;
    align-items: center;
    justify-content: center;
    width: 300px;
    display: flex;
    flex-direction: column;
    height: 70px;

    span {
        font-size: 20px;
    }

    input {
        margin-top: 15px;
        border-radius: 5px;
        padding: 5px;
        border: 1px rgb(120, 120, 120) solid;
        height: 30px;
        width: 300px;
    }
}

.second-form-password2 {
    margin-top: 15px;
    align-items: center;
    justify-content: center;
    width: 300px;
    display: flex;
    flex-direction: column;
    height: 70px;

    span {
        font-size: 20px;
    }

    input {
        margin-top: 15px;
        border-radius: 5px;
        padding: 5px;
        border: 1px rgb(120, 120, 120) solid;
        height: 30px;
        width: 300px;
    }
}


.second-form-button {
    margin-top: 50px;
    width: 300px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    .second-sent-button {
        width: 300px;
        font-size: 15px;
        padding: 10px 15px;
        border-radius: 35px;
        border: 2px #F2E318 solid;
        background-color: #F2E318;
        transition: 0.3s;

        &:hover {
            background-color: white;
        }
    }
}
