.home {
    display: flex;
    justify-content: center;

    
    .container {
        max-width: 1600px;
        // border: 2px black solid;
        display: flex;
        justify-content: space-around;
        margin-bottom: 100px;
    }
    
}

.filter-main {
    display: flex;
    margin-top: 50px;
}

.filter-create {
    margin-top: 60px;
    width: 400px;
    height: 600px;
    background-color: white;
    display: flex;
    // justify-content: center;
    align-items: center;

}

.buttons {
    width: 300px;
    display: flex;
    justify-content: space-between;


    .date {
        border: 2px $yellow-color solid;
        padding: 10px 15px;
        background-color: $yellow-color;
        border-radius: 30px;
        font-size: 20px;
        transition: 0.3s;

        &:hover {
            background-color: white;

        }    
    }


    .reset {
        border: 2px $black-color solid;
        color: white;
        padding: 10px 15px;
        background-color: $black-color;
        border-radius: 30px;
        font-size: 20px;
        transition: 0.3s;

        &:hover {
            background-color: white;
            color: $black-color;

        }     
    }
}

.three-filters {
    width: 300px;
    margin-top: 50px;

    .regions, .types-of-events, .types{
        font-size: 25px;
        font-weight: bold;
    }
}

.region-filter, .types_event-filter, .type-filter {
    margin-top: 30px;
}

.regions-select, .types_event-select, .types-select {
    margin-top: 10px;
    font-size: 20px;
    width: 300px;
    padding: 10px;
    border: 1px rgb(138, 138, 138) solid;
    border-radius: 15px;

}



option {
    padding: 10px;
    border: 1px rgb(138, 138, 138) solid;
    border-radius: 15px;
}


//////////////////////////////////////////////////////////////////////////////////////////
.events-main {
    // border: 2px black solid;
    width: 1200px;
    min-height: 1100px;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-items: center;
}

.search-div {
    margin-top: 60px;
    width: 1200px;
    height: 50px;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;

    .search-input {
        width: 775px;
        height: 40px;
        border: 1px rgb(129, 129, 129) solid;
        border-radius: 30px 0px 0px 30px;
        padding: 10px 20px;
    }

    .search-in-div {
        position: relative;


    //     .recommend-bar {
    //         position: absolute; /* Position the recommendations absolutely */
    //         top: 40px; /* Adjust this value based on the height of the input to position it below the search bar */
    //         left: 15px;
    //         width: 760px;
    //         background-color: white; /* Ensure it has a background */
    //         border: 1px solid rgb(129, 129, 129); /* Match the border of the input */
    //         // border-top: none; /* Remove the top border to make it look connected to the input */
    //         z-index: 1; /* Ensure it appears above other elements */
    //         list-style: none;
    //         padding: 0;
    //         margin: 0;
    //         max-height: 200px; /* Optional: limit the height and add scrolling */
    //         overflow-y: auto;
    //       }

    //     .every-recommend {
    //         padding: 10px;
    //         cursor: pointer;
    //       }
    }


    .search-button {
        width: 100px;
        height: 40px;
        border: 2px $yellow-color solid;
        background-color: $yellow-color;
        border-radius: 0px 30px 30px 0px;
        margin-left: 5px;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            background-color: white;
        }
    }
}


.pagination {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    .prev-button, .next-button {
        border: 2px $yellow-color solid;
        border-radius: 20px;
        width: 150px;
        padding: 10px 15px;
        background-color: $yellow-color;
        
        &:hover {
            background-color: white;
        }
    }

    .current-page {
        border-radius: 20px;
        padding: 10px 15px;
    }


    .current-page.active {
        color: white;
        background-color: black;
        border: 2px black solid;
    }

}


.event-cards {
    max-width: 1200px;
    min-height: 800px;
    display: flex;
    column-gap: 75px;
    row-gap: 50px;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 50px;

    .box {
        border-radius: 25px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
        width: 350px;
        height: 500px;
        transition: all 0.3s;


        &:hover {
            transform: scale(1.05);
            cursor: pointer;

        }
    }
}

.for-image {
    width: 350px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-event {
    width: 330px;
    height: 180px;
    object-fit: fill;
    border-radius: 15px;
    margin-bottom: 5px;
    background-color: #fdeb9e;
    box-shadow: rgba(0, 0, 0, 0.075) 0px 10px 36px 0px, rgba(0, 0, 0, 0.048) 0px 0px 0px 1px;
}

.name-event-div {
    max-height: 45px;
    margin-left: 15px;
    padding-bottom: 15px;

    .name-event {
        font-size: 25px;
    }
}


.owner, .type_of_event {
    margin-left: 15px;
    margin-top: 10px;
    font-size: 15px;

}

.owner-event, .types-event-event {
    font-size: 20px;
    margin-left: 15px;
}

.info-event {
    flex-direction: column;
    display: flex;
    margin-top: 20px;
    margin-left: 15px;
    font-style: italic;

    .region-event, .address-event, .date-event, .time-event, .type-event, .price-event {
        font-size: 15px;
    }
}


